/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";

.p {
 font-family: Arial, Helvetica, sans-serif;
}
.title {
 color: white;
}
 body {
 padding: 90px;
}
.center {
 text-align: center;
}
.login_name {
 line-height: 5;
}
.input { 
 width: 100;
}
.search_button {
 text-align: center;
}
.top-wrapper {
 background-image: image-url("background.jpg");
 background-size: cover;
 height: 600;
}
.container-plan {
 margin-top: 5em;
}
.tables {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.table{
 width: 30%;
 min-width: 300px;
}
.plan-body {
 padding: 10px;
 float: left;
}

/* ユーザー一覧 */
.user-container {
 column-width: 150px;
 column-gap: 20px;
}
p-user {
 border: 2px black;
 padding: 10px;
 margin: 10px;
}

/* プロフィール画面 */
.panel.panel-default {
 border: 2px red;
 column-width: 100;
}
.panel.panel-info {
 border: 4px white;
 background-color: rgb(172, 169, 169);
}
.image {
 border-radius: 50%;
}