/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "plans.scss";


h1 {
 text-align: center;
 color: white;
}
a {
 color: black;
}
.navbar-nav {
 text-decoration: none;
}
.nav-color {
 background-color: rgb(241, 239, 239);
}
.bg-color {
 background: radial-gradient(#F2B9A1, #EA6264);
}
.align-item-center{
 list-style: blue;
}
.nav-link{
 margin-left: 10px;
}
p {
 font-family: Arial, Helvetica, sans-serif;
}
.title {
 color: white;
}
 body {
 padding: 90px;
}
.center {
 text-align: center;
}
.login_name {
 line-height: 5;
}
.input { 
 width: 100;
}
.search_button {
 text-align: center;
}
.container-plan {
 margin-top: 5em;
}
.top-wrapper {
 background-image: image-url("background.jpg");
 background-size: cover;

}


/* ユーザー一覧 */
.user-container {
 column-width: 150px;
 column-gap: 20px;
}
p-user {
 border: 2px black;
 padding: 10px;
 margin: 10px;
}

/* プロフィール画面 */
.profile-bg {
 background-color: grey
}
.panel.panel-default {
 border: 2px red;
 column-width: 100;
}
.panel.panel-info {
 border: 4px white;
 background-color: rgb(172, 169, 169);
}
.image {
 border-radius: 20%;
}
.card-user {
 width: 400px;
 margin: 75px auto 0;
 background-color: #fff;
 box-shadow: 0 3px 30px rgba(0, 0, 0, .14);
 color: #444;
 text-align: center;
 font-size: 16px;
 border-radius: 5px;
}
.card-user .card-header-user {
 position: relative;
 height: 48px;
}
.card-user .card-hearder-user .profile-image-user {
 width: 96px;
 height: 96px;
 border-radius: 1000px;
 position: absolute;
 left: 50%;
 transform: translate(-50%, -50%);
 border: 6px solid #fff;
 box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.card-user .card-body-user { 
 padding: 10px 40px;
 text-align: center;
}
.card-user .social-icon {
 font-size: 18px;
 margin:  0 7px;
}
.card-user .btn.btn-social-icon.btn-twitter {
 color: #55ACEE;
}
.card-user .btn.btn-social-icon.btn-github {
    color: #444444;
}
.card-user .btn.btn-social-icon.btn-google {
    color: #DD4B39;
}
.car-user .card-footer-user {
 display: table;
 width: 100%;
 border-top: 1px solid #e6e6e6
}
.card-user .card-footer-user .col-user {
 display: table-cell;
 padding: 5px 10px;
 font-size: 15px;
 text-align: center;
}
.card-user .card-footer-user .count-user {
 font-size: 18px;
 font-weight: 600;
}
@media screen and (max-width: 575px) {
 .card-user{
  width: 96%;
 }
 .card-user .card-body-user {
  padding: 10px 20px;
 }
 .card-user .card-footer-user .col-user {
  padding: 0 10px;
 }
 .card-user .card-footer-user .count-user{
  display: block;
  margin-bottom: 5px;
 }
}