// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-home{
    padding: 100px;
}
.body-home p{
    color: black;
    text-align: center;
    font-family: 'arial unicode ms';
}
.container-home{
    height: 400px;
    width: 400px;
}
.homepage-title{
    margin-top: 50px;
}
.bg-image {
    background-image: image-url("homebg.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}
.bg-mask{
    background: rgba(255,255,255,0.5);
    height: 100%;
}


.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.row.bootstrap.snippet{
    margin-top: 20;
}