
.body-plans-index {
   background-image: image-url("background.jpg");
   background-size: cover;
}

.col-search .form-control{
   text-align: right;
}

.plan-title {
   font-size: 50px;
   text-align: center;
}
.search {
   display: inline;
}



//show page//
.table.table.table-hover {
   text-align: center;
}
.card-footer-body {
   text-align: right;
}