h2 {
   text-align: center;
   color:black;
}
.body-plans-index {
   background-image: image-url("background.jpg");
   background-size: cover;
}

.col-search .form-control{
   text-align: right;
}

.plan-title {
   font-size: 50px;
   text-align: center;
}
.search {
   display: inline;
}



//show page//
.table.table.table-hover {
   text-align: center;
}
.card-footer-body {
   text-align: right;
}
.cm-dot{
   border-bottom: solid black 1px;
   padding: 5px;
}
.span-cm{
   text-align: right;
}
.container-cm{
   margin-top: 10px;
}
.cm-back{
   border: solid white;
   width:180px;
}
.card-footer-header{
   border-bottom: solid black 0.1px;
}
.card-footer-body{
   text-align: right;
}
.iine-plan{
   margin-left: 10px;
}
td-des{
   height: 50%;
}