// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img-user{
    border-radius: 50%;
}
.circle-avatar.field img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
.circle-avatar.field.show img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; 
}

